@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-brand: 152.9 60% 52.9%;
  --default-foreground: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-brand: 152.9 60% 52.9%;
    --default-foreground: red;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
